{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UCC Summer Courses - FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	{% load staticfiles %}
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">UCC Summer Courses</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="../courses">Home</a></li>
              <li><a href="courselist">Course Info</a></li>
			  <li class="active"><a href="faq">FAQ</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
			<div class="links pull-right">
				<a href="../accounts/register">Register</a>
				<a href="../accounts/login">Log in</a>
				<a href="../admin">Admin</a>
			</div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <!--<h1 style="background-color:rgba(0, 0, 0, 0.7)">UCC Summer Courses</h1>-->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>Frequently Asked Questions</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor gravida lorem id rutrum. Vivamus porttitor purus nec velit consequat suscipit. Nullam aliquam molestie tellus, a molestie dolor fermentum id. In velit erat, mattis sed pretium vel, fringilla condimentum nisl. Donec nec euismod augue. Nulla viverra felis in velit faucibus eu varius nisl porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		  </p>

<p>Morbi auctor consequat eros, eu ultricies quam interdum ut. Vivamus ac erat erat. Maecenas quis libero id dui vehicula faucibus. Integer pharetra justo nec elit malesuada blandit quis sit amet urna. Cras fringilla scelerisque pulvinar. Nunc at diam a leo congue dapibus. Nam ullamcorper ornare ligula nec luctus. Vestibulum eget leo id ipsum pellentesque pellentesque vitae vel magna. Curabitur ut massa nec dui sagittis blandit. Cras rutrum sem a est condimentum sed fringilla lorem lacinia. Aliquam interdum, mauris id venenatis egestas, dolor leo vestibulum odio, nec fringilla turpis massa vitae augue. Donec id odio purus, vel pulvinar est. Quisque eleifend pharetra malesuada. Maecenas non magna diam, imperdiet posuere lorem. Cras lorem nisi, adipiscing eu ultrices non, rutrum sed enim. Cras rutrum tristique semper.  </p>

      </div>
	  </div>
	  

      <hr>

      <footer>
        <p>&copy; JMR Inc. 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}assets/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-scrollspy.js"></script>
    <script src=".{{ STATIC_URL }}assets/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
