<h1>{{ course.name }}</h1>

<p>Description: {{ course.course_description }}</p>
<p>Number of places: {{ course.num_places }}</p>
<p>Price: {{course.price }}</p>

<table>
<tr><title>Events</title></tr>
<tr>
	<th>Day</th>
	<th>Event</th>
	<th>Time</th>
	<th>Duration (min)</th>
	<th>Lecturer</th>
</tr>
{% for event in course.event_set.all %}
    <tr>
    <td>{{ event.event_day_num }}</td>
    <td>{{ event.name }}</td>
	<td>{{event.time_of_day}}</td>
	<td>{{event.duration}}</td>
	<td>{{event.lecturer.title}} {{event.lecturer.first_name}} {{event.lecturer.surname}}</td>
	</tr>
{% endfor %}
</table>